body {
    margin: 0;
}

#container {
    background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    text-align: center;
    border-radius: 5px;
    margin: 3em auto;
    background: rgba(255, 255, 255, 0.95);
    height: 70%;
    width: 480px;
    padding: 1em;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

#container h2 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #05596c;
    background-size: cover;
    letter-spacing: 2px;
    font-size: 3.5em;
    margin: 0;
}

#container p {
    margin: 3px 0 1.5em 0;
    font-size: 1.3em;
    color: #18428c;
}

#container input {
    width: 210px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 7px;
    background: #eee;
    padding: 1em 2em;
    outline: none;
    border: none;
    color: #222;
    transition: 0.3s linear;
}

::placeholder {
    color: #999;
}

#container input:focus {
    background: rgba(0, 0, 333, 0.10);
}

#container .button {
    background-image: linear-gradient(to left, rgb(13, 103, 172) 0%, rgba(27, 245, 194, 0.86) 100%);
    box-shadow: 0 9px 25px -5px #91aafb;
    padding: 0.5em 1.9em;
    margin: 2.3em 0 0 0;
    border-radius: 7px;
    font-size: 1.4em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1em;
    outline: none;
    border: none;
    transition: 0.3s linear;
}