@font-face {
    font-family: "Saira Stencil One";
    src: url("../fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf");
}

h1 {
    font-family: 'Mansalva', cursive;
    font-size: 40px;
}

h2 {
    font-family: 'Saira Stencil One', cursive;
    font-size: 50px;
}